
.HeaderTable{
    width: 100%;
      
}


#logo{
    width: 200px;
    height: auto;
}

a{
    margin-right: 16px;
    color: rgb(169, 170, 236);
}
video{
    width: 90%;
    height: auto;
    border: 2px solid #1e1e1e;
}
img{
    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 6px;
    border: 2px solid #1e1e1e;
    
}

.MainTable{
    
    width: 80%;
    height: 100vh;
   margin-top: 16px;

   
}

#contactTable{
    width:100%;
    color: #fff;

}

.Bio{
     width: 78%;
     margin-left: 10px; 
     width: 58%;
     
}

.usertext{
    color: white;
    width: 78%;
    font-family:  Arial;
  
}


.Button{
   
    padding: 5px;
    border-radius: 5px;
  
   
}
#FooterTable{
    background-color: #262626;
    width: 100%;
    margin-top: 16px;
    color: white;
}

.center{
  
   width: 20%;

}

.right{
    width: 25%;
}